<!DOCTYPE html>
<html>

<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>

<body>
  <h1>Add a new user :)</h1>
  <form method="POST" action="/users" class="addUser">
    <input type="text" placeholder="First name" name="firstname">
    <input type="text" placeholder="Last name" name="lastname">
    <input type="text" placeholder="Email" name="email">
    <button type="submit" class="nice">Send</button>
    <% if (error) { %>
      <p class="red">
        <%= error %>
      </p>
      <% } %>
  </form>
  <div class="nav">
    <a href="search">Search Users</a>
    <a href="users">Back to all users</a>
  </div>
</body>

</html>